S3method(as.data.frame,formhubData)
export(addPhotoURLs)
export(as.SpatialPointsDataFrame)
export(formhubDownload)
export(formhubRead)
export(replaceAllNamesWithLabels)
export(replaceColumnNamesWithLabels)
export(replaceHeaderNamesWithLabels)
